.card {
  position: absolute;
  padding-bottom: 20px;
  background-color: white;
  color: grey;
  position: relative;
}
form{
  margin-bottom: 20px;
}
ul .collection.with-header{
  position: relative;
}
h1{
  font-size: 22px;
}
li.collection-item{
  padding: 30px !important;
}
ul.collection.with-header{
  background-color: white;
  padding-bottom: 20px;
}
